@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,600,700';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700';

$sans-serif: "Roboto", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Fira Code", Courier, monospace;

/* ------------------------------------------------------------------
   Theme variables (mirror bslib)
------------------------------------------------------------------ */
$bg: #FFFFFF;
$fg: #674655;
$primary: #768b99;
$secondary: #d9acbe;

$faint-background: $bg;
$faint-border: $secondary;

$navbar-background: $fg;
$footer-background: $fg;

// Bootstrap link variables (this is the ONLY SCSS-level fix)
$link-color: $primary;
$link-hover-color: darken($secondary, 10%);
$link-decoration: none;
$link-hover-decoration: underline;

// Navbar link colors (Bootstrap 5)
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: $secondary;
$navbar-dark-active-color: #ffffff;

// Apply fonts ----------------------------------------------------
// Base font for body text
body {
  font-family: $sans-serif !important;
}

@include media-breakpoint-up(xxl) {
  body { font-size: 20px }
}

// Links ---------------------------------------------------------
// Apply primary color to all links
main a {
  color: $primary;

  &:hover,
  &:focus {
    color: darken($secondary, 10%);
  }

  &:visited {
    color: darken($primary, 5%);
  }
}

aside.col-md-3 a {
  color: #768b99;
  text-decoration: none;
}

aside.col-md-3 a:hover,
aside.col-md-3 a:focus {
  color: $secondary;
  text-decoration: underline;
}

// Headings ----------------------------------------------------
// Use smaller headings with more vertical space
// Apply serif font to headings for visual distinction

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  color: mix($body-color, $primary, 90%);
}

h2 {
  @include font-size(1.8rem);
  margin-top: 2.5rem;
}
// Reduce margin of first h2 on page
main .page-header + .section h2 {
  margin-top: 1rem;
}

h3 {
  @include font-size(1.5rem);
  margin-top: 2rem;
}
h4 {
  @include font-size(1.2rem);
  font-weight: bold;
  margin-top: 1.2rem;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.page-header {
  border-bottom: none;
  min-height: 0;
  margin-bottom: 2rem;
  h1 {margin-top: 3rem}
}

// Home page --------------------------------------------------------------

.template-home {
  .page-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 0;
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid $faint-border;

    h1 {margin-top: 0rem}

    @include media-breakpoint-down(sm) {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
    }
  }
  img.logo {
    margin-left: 0;

    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}


// Navbar -----------------------------------------------------------------
// Apply sans-serif font to navbar for consistency
// Navbar links should be white with secondary color on hover

nav.navbar {
  font-family: $sans-serif;
  border-bottom: 1px solid $faint-border;
  background-color: $navbar-background;
  padding: 1rem 0;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: $secondary !important;  // $secondary
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:focus-visible {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

.dropdown-menu {
  box-shadow: 0 2px 5px 0 rgba(120,120,120,.1);
}
.dropdown-item {
  &:hover, &:focus {
    background: $body-bg;
    text-decoration: none;
  }
}

// Sidebar ----------------------------------------------------------------

@include media-breakpoint-up(sm) {
  #toc {
    top: calc(#{$pkgdown-nav-height} + 2rem);
  }
}

.row > aside {
  margin-top: calc(2rem + #{$pkgdown-nav-height});
}

aside {
  border-left: 1px solid $faint-border;
  margin-bottom: 2rem;
  line-height: 1.4;

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    color: $gray-800;
  }
  div:first-child h2 {
    margin-top: 0;
  }
  nav:first-child h2 {
    margin-top: 0;
  }

  .list-unstyled li {
    margin-bottom: 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    margin: 1rem 0 0 0;
    padding: 2rem 1rem 1rem 1rem;
    background-color: $faint-background;
    width: 100vw;
    border-top: 1px solid $faint-border;
  }
}

#toc .nav {
  a.nav-link {
    color: inherit;
    padding: 0.25rem 0;

    &:hover, &:focus {
      text-decoration: none;
    }
    &.active {
      color: #444;
      font-weight: 600;
    }

    // override pkgdown default
    &:hover, &:focus, &.active {
      background-color: $body-bg;
    }
  }
}

// Footer -------------------------------------------------------------
footer {
  margin-top: auto; // needed for sticky footer
  margin-bottom: 0;
  border-top: 1px solid $faint-border;
  padding: 2rem 0; // match visual height of navbar

  p {
    margin-bottom: 0;
  }

  .container {
    display: flex;
  }

  @include media-breakpoint-down(sm) {
    .container {
      flex-direction: column;
      row-gap: 1rem;
    }
  }

}

// Add margin to bottom of contents, since we can't add it to
// footer
main {
  margin-bottom: 5rem;
}
@include media-breakpoint-down(sm) {
  main {margin-bottom: 0}
}

// Tweak sticky footer since in tidytemplate the
// footer is outside of the .container
body {
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .container {
    min-height: 0;
    flex-shrink: 0;
  }
}


// Code ---------------------------------------------------------
// Apply monospace font to code elements
pre, code {
  font-family: $mono;
  border: none;
  background-image: linear-gradient(-160deg, #f8f8f8 0, #f1f1f1 100%);
}

pre code {
  background: transparent;
}

pre {
  font-size: 0.81em;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background: transparent;
  padding: 0;
}

// Match button radius
code {border-radius: 3px}

// Lists ---------------------------------------------------------
ol, ul {
  padding-left: 1.5rem;
}
ul {
  list-style-type: disc;
}

// Give top-level lists some margin between bullets. This only affects
// "compact" lists because of margin-collapsing
main {
  li {
    margin-bottom: 0.25rem;
    li { margin-bottom: 0; }
  }

  // Give nested lists a little breathing room
  ul ul, ol ol, ul ol, ol ul {
    margin: 0.5rem 0;
  }
}

// Search -------------------------------------------------------

$mark-colour: mix($body-bg, $primary, 10%);
mark {
  background: linear-gradient(-135deg,
    change-color($mark-colour, $alpha: 0.2),
    change-color($mark-colour, $alpha: 0.7) 95%,
    change-color($mark-colour, $alpha: 0.1)
  )
}

/* Copy code button styling */
.sourceCode .btn-copy-ex {
  background-color: $fg;
  border-color: $fg;
  color: #ffffff;
}

/* Hover / focus states */
.sourceCode .btn-copy-ex:hover,
.sourceCode .btn-copy-ex:focus,
.sourceCode .btn-copy-ex:focus-visible {
  background-color: darken($fg, 8%);
  border-color: darken($fg, 8%);
  box-shadow: none;
  outline: none;
}